body {
text-align: center;
margin-left:17%;
margin-right:17%;
background-color: #fff;
background-image:
linear-gradient(-90deg, transparent 0px, #abced4 0px, #abced4 7%, transparent 1px),
linear-gradient(90deg, transparent 0px, #abced4 0px, #abced4 7%, transparent 1px),
linear-gradient(#eee .1em, transparent .1em);
background-size: 100% 1em;
}
p {
word-wrap: break-word;      /* IE 5.5-7 */
white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
white-space: pre-wrap;      /* current browsers */
}
img {
  max-width: 100%;
}
